main {
  padding-bottom: 5px;
  margin: auto;
  border: 2px solid black;
}


header h2 {
  text-align: center;
  margin-bottom: 0;
}

#pokemon-list {
  padding: 1rem;
  margin: 0 auto;
}


#pokemon-list li {
  list-style: none;
}


#load-box {
  text-align: center;
}