html,
body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#container {
   background-image: url(images/parchment.jpg);
   height: 100%;
   width: 100%;
   padding: 0;
   position: relative;
   /*   overflow: hidden;*/
}

header {
   background-image: url(images/parchment-light.png);
   width: 100%;
   height: 15%;
}

nav {
   background-color: aliceblue;
   width: 100%;
   height: 50px;
   margin: 10px 0 10px 0;
   border-radius: 20px;
   text-align: center;
   font-size: 175%;
   opacity: .7;
   /*
   display: flex;
   flex-flow: row;
   align-items: stretch;
*/

}

nav ul {
   margin-top: 0;
   padding-top: 10px;
}

nav ul li {
   /*
   display: flex;
   flex-flow: row;
   align-items: stretch;
*/
   display: inline;
   margin: 40px;
}

nav a {
   cursor: pointer;
   padding-top: 10px;
   padding-bottom: 9px;
}

nav a:hover {
   background-color: bisque;
   opacity: 1;
   transition: .2s;
}

#main-container {
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
}

main {
   background-image: url(images/parchment-light.png);
   width: 70%;
   height: 75%;
   border-radius: 15px;
   overflow: scroll;
   text-align: center;
   position: absolute;
   left: 15%;
   /* Position absolute clears the small blank area above the main section */

}

main a img {
   padding: 0;
   margin: 0;
   width: 400px;
   height: 300px;
}

#left-nav {
   background-color: lightslategray;
   width: 15%;
   height: 75%;
   border-radius: 10px;
   opacity: .7;
   /*   float: left;*/
   position: fixed;
}

#right-nav {
   background-color: lightslategray;
   width: 15%;
   height: 50%;
   border-radius: 10px;
   opacity: .7;
   /*   float: right;*/
   position: fixed;
   left: 85%;
}

#right-nav ul {}

#right-nav-bot {
   background-color: slategray;
   width: 15%;
   height: 25%;
   border-radius: 10px;
   opacity: .7;
   /*   text-align: center;*/
   position: fixed;
   left: 85%;
   bottom: 30px;
}

#left-head {
   float: left;

}

#right-head {
   float: right;
}

#right-head li {
   display: inline;
   /*   padding-right: 10px;*/

}

#right-head a {
   text-decoration: none;
   text-align: center;
   padding: 5px;
   color: black;
}

#right-head a:hover {
   background: white;
}

#search-contain {
   float: right;
}

#search-contain button {
   float: right;
   /*  margin-top: 8px;*/
   /*  margin-right: 16px;*/
   background: #ddd;
   font-size: 17px;
   border: none;
   cursor: pointer;
}

#search-contain button:hover {
   background: #ccc
}

footer {
   margin: 0;
   background-color: aqua;
   text-align: center;
   width: 100%;
   height: 35px;
   /*   margin: 10px 0 0 0;*/
   border-radius: 20px;
   position: absolute;
   bottom: 0;
}

ul {
   list-style-type: none;
}

.underline {
   text-decoration: underline;
   text-align: center;
}



@media only screen and (min-width: 1000px) {

   #right-head li {
      display: inline;
      font-size: 20px;
      /*   padding-right: 10px;*/

   }

   #right-head a {
      text-decoration: none;
      text-align: center;
      padding: 5px;
      color: black;
   }

   #search-contain button {
      float: right;
      /*  margin-top: 8px;*/
      /*  margin-right: 16px;*/
      background: #ddd;
      font-size: 25px;
      border: none;
      cursor: pointer;
   }

   #search-contain input {
      height: 25px;
   }

   main video {
      height: 600px;
      width: 70%;
   }

   main h3 {
      font-size: 2em;
   }

   main p {
      font-size: 1.25em;
   }

}
