<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> | Weather Center</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/jsonweather-html/css/weather-style.css" type="text/css" media="screen">
</head>

  <body>
    <div id="wrapper">
      <header id="page-header"></header>
      <nav id="page-nav"></nav>
      <main id="page-main">
        <section class="weather-container">
          <div id="cover">
            <div id="status">Loading...</div>
          </div>
          <h1 id="cityDisplay"></h1>
          <h2>Current Conditions</h2>
          <ul id="current_conditions">
            <li id="currentTemp"></li>
            <li id="summary"></li>

          </ul>
        </section>
      </main>
      <footer id="page-footer">
        <div id="footer-content"></div>
        <small>Last updated: </small>
      </footer>
      <script src="/jsonweather-html/scripts/jquery-3.0.0.min.js"></script>
      <script src="/jsonweather-html/scripts/jquery-3.0.0.min.js"></script>
      <script src="/scripts/modules.js"></script>
      <script src=""></script>
    </div>
  </body>
</html>
