*  {
   box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure   {
   display: block;
}

body  {
   font-family: helvetica, serif;
   font-size: 20px;
   margin: 0;
   padding: 0;
   background-color: salmon;
   margin-top: -30px;
}

header   {
   background-color: #A6D8DB;
   padding-bottom: 8px;
}

#title h1 + h1 {
   text-align: right;
   margin-top: -.7em;
   font-size: 20px;
}

main  {
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   background-image: url("images/sunny-winter.jpg");
   background-size: cover;
}

nav   {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #F07C6C;
}

nav ul {
   display: flex;
   line-height: 200%;
   list-style-type: none;
   padding: 0;
   font-size: 15px;
}

nav ul li   {
   margin-left: 10px;
}

.nomargin   {
   margin-left: 2.5px;
}

nav a:link {
   text-decoration: none;
   color: #4A4653;
}

nav a:visited  {
   color: #4A4653;
}

nav a:hover {
   color: #E7EF61;
}

nav a:active   {
   color: #A6D8DB;
}

footer   {
   position: fixed;
   bottom: 7.5%;
   left: 0;
   right: 0;
   font-size: 22px;
   padding: 10px 0 10px 0;
   background-color: #A6D8DB;
}

footer small   {
   margin-left: 5px;
}

.conditions,
.temp,
.area {
   background-color: rgba(200,200,200,.6);
   margin: .2em auto;   
   border: 1px solid;
   border-radius: 5px;
}

.temp,
.area {
   text-align: center;
   padding: 5px 25px 5px 25px;
}

.conditions {
   padding: 0 65px 0 65px;
   margin-top: .8em;
}

.temp h1 {
   margin-bottom: -1em;
}

.rotate25   {
   transform: rotate(25deg);
   display: inline-block;
   margin: 0;
   padding: 0;
}

.enlarge {
   font-size: 40px;
}

.highlow {
   float: right;
}

#wind, #precip {
   display: flex;
   flex-direction: column;
}

#wind span, #precip span  {
 /*  float: right;
   text-align: right; */
   display: inline-block;
   width: 115px;
   text-align: right;
   float: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: Sansita, Comic Sans MS, sans-serif;
}

.overview h2,
.conditions h2,
.hourly h2,
#wind h3,
#precip h3   {
   font-size: 20px;
}

.hourly  {
   display: none;
}

.center  {
   text-align: center;
}

.display {
   display: none;
}

.right   {
   float: right;
   width: 40px;
}

/* Styles for larger screens */

@media only screen  and (min-width : 600px) {
   main  {
      display: flex;
      flex-flow: row;
      align-items: stretch;
      background-image: none;
   }
   
   .overview,
   .conditions,
   .hourly  {
      display: flex;
      flex-flow: column;
      flex: 1 0;
      background-color: rgba(200,200,200,.6);
      margin: .2em auto;   
      border: 1px solid;
      border-radius: 5px;
      padding-top: 20px;
      padding-bottom: 320px;
      
   }
   
   .temp {
      width: 60%;
      height: 150px;
   }
   
   .area {
      background-color: rgba(200,200,200,0);
      border: none;
      color: lightgoldenrodyellow;
   }
   
   .conditions {
      order: -1;
   }
   
   .hourly  {
      display: flex;
      flex-flow: column;
       background-color: rgba(200,200,200,.6);
      margin: .2em auto;   
      border: 1px solid;
      border-radius: 5px;
   }
   
   .hourly ul  {
      list-style-type: none;
   }
   
   .overview   {
      background-image: url("images/sunny-winter.jpg");
      background-size: cover;
   }
   
   .display {
      display: flex;
      align-self: center;
      color: lightgoldenrodyellow;;
   }
   
   nav   {
      position: relative;
      display: flex;
      text-align: center;
      background-color: #F07C6C;
      padding: 5px 0 5px 0;
   }
   
   nav ul   {
     display: flex;
     align-content: center;
      justify-content: space-around;
     flex-grow: 1;
   }
   nav ul li   {
      font-size: 1.5em;
   } 
   
   #title h1 + h1 {
      text-align: left;
      margin-top: -1.5em;
      margin-left: 9.75em;
      
   }
   
   footer   {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
   }
   

}