*  {
   box-sizing: border-box;
}


article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure   {
   display: block;
}

body  {
   font-family: helvetica, serif;
   background-image: url(/acme/images/site/background.jpg);
   background-size: cover;
}

#contain {
   display: table;
   background-color: #ffffff;
   background-position: center;
   width: 100%;
}

header   {
   margin-left: 5px;
   padding-top: 20px;
   padding-bottom: 10px;
}

/*
nav   {
   background-color: #de2226;
   padding: 1%;
   display: flex;
}

nav ul   {
   color: white;
   font-size: 1.25em;
   list-style-type: none;
   display: inline-flex;
   justify-content: space-around;
   
}

nav ul li   {
   margin-left: 2.5%;
}
*/

#navigation {
   display: flex;
   font-family: 'Roboto', sans-serif;
}

#navigation ul {
   justify-content: space-around;
   display: inline-flex;
   flex-flow: nowrap;
   width: 100%;
   list-style-type: none;
   padding: 1.2em;
   overflow: hidden;
   background-color: #de2226;
}

nav ul li {
   font-size: 12pt;
   display: inline-flex;
   padding-left: 10px;
   padding-right: 10px;
}

#navigation ul li a {
   display: flex;
   display: block;
   color: #ffffff;
   padding: 10px;
   text-decoration: none;
}

#navigation ul li a:hover {
   background-color: lightcoral;
}

main  {
   margin-left: 5px;
   margin-right: 5px;
}

h1 {
   font-size: 30px;
   margin-top: 0px;
   margin-bottom: 0px;
   text-align: center;
}

#hero {
   background-image: url(/acme/images/site/feature.jpg);
   background-size: cover;
   display: flex;
   justify-content: flex-end;
   height: 350px;
}

#hero ul {
   list-style-type: none;
   color: #990033;
}

.margin  {
   margin-bottom: -1%;
}

section h3 {
   text-align: center;
}

#rr   {
   display: flex;
   flex-flow: column;
}

#recipes ul {
   list-style-type: none;
   display: flex;
}

#recipes img   {
   margin: 60px;
}

#image   {
   padding-right: 5%;
}

footer   {
   border-top-color: #000000;
   border-top-width: thick;
   border-top-style: solid;
   margin: 5px;
   font-size: .75em;
   text-align: center;
}

.nomargin   {
   margin-left: -5%;
}

@media only screen and (min-width: 800px){
 /*  Laptop and larger screen styles  */
  
   
}



